<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WebNLP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home'%}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'regex' %}">RegEx</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lemma' %}">Lemmatization</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ner'%}">Named Entity Recognition</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'pos'%}">Part-of-Speech</a>
        </li>
      </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>