{% extends 'base.html' %}
{% block ner_content %}
    <div class="container mt-5">
        <h1 class="text-center">Named Entity Recognition</h1>
        <form id="ner-form" class="mt-4" method="POST" action="{% url 'ner' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="inputText" class="form-label">Enter Text</label>
                <textarea class="form-control" id="inputText" name = "ner-form" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Recognize Entities</button>
        </form>
        <div id="result" class="mt-4">
            <!-- Results will be displayed here -->
            {% if entities %}
            <div class="row">
                {% for entity, label in entities %}
                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="border: 2px solid #007bff; border-radius: 15px;">
                            <div class="card-header bg-primary text-white" style="border-radius: 13px 13px 0 0;">
                                <h5 class="card-title">Entity</h5>
                            </div>
                            <div class="card-body" style="background-color: #f1f1f1;">
                                <p class="card-text" style="font-size: 18px; font-weight: bold;">{{ entity }}: {{ label }}</p>
                            </div>
                            <div class="card-footer bg-light">
                                <small class="text-muted">Named Entity</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}