{% extends 'base.html' %}

{% block regex_content %}
    <div class="container mt-5">
        <h1 class="text-center">Regex for US Phone Numbers</h1>
        <form id="regex-form" class="mt-4" method = "POST" action = "{% url 'regex' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="inputText" class="form-label">Enter Text</label>
                <textarea class="form-control" id="inputText" name = "regex-form" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Find US Phone Numbers</button>
        </form>
        <div id="result" class="mt-4">
            <!-- Results will be displayed here -->
        </div>
    </div>
{% endblock %}