{%extends 'base.html'%}
{%block regex_content%}
<style>
    .widthx{width:1200px;}
</style>
<br>
<br>
<div class = "container">
    <div class="row">
        <form class="form-group widthx" method="POST" action="{% url 'regex' %}">
            {% csrf_token %}
            <label for="exampleFormControlTextarea1"><strong>Enter Text for RegEx (Regular Expression) Search</strong> </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="regexform" placeholder="Please Enter Text Here To Perform RegEx Search"></textarea>
        <br>
        <div class="container">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Submit</button>
        </div>
        </form>
    </div>
</div>
{% endblock %}